# www-data crontab file
#--------------------------------------------------
# min,hour,dayOfMonth,month,dayOfWeek command
#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12
# day of week    0-7 (0 or 7 is Sunday)
#
#--------------------------------------------------

# Clean the old tasks and old logs

* * * * * /var/www/linky-reader/website/bin/console app:linky:read > /var/www/linky-reader/website/var/log/cron.log 2>&1
