<div class="widget-content value-single-content card-body d-flex align-items-center justify-content-center">
    <div class="value-single bg-primary text-white d-inline-block font-weight-bold">
        {{ manager.definition.values.value }}
    </div>
</div>
