[mysqld]

# Charset
character-set-server = utf8
collation-server = utf8_general_ci

# InnoDB - Other settings
innodb_flush_log_at_trx_commit = 1

# Network and DNS resolution settings
bind-address = 127.0.0.1
port = 3306
skip-name-resolve

# Slow query Log settings
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 10
