{% extends 'base.html.twig' %}

{% set menuCurrentItem="home" %}

{% block header_title %}{{  parent() }} - Home{% endblock %}

{% block main_title %}Linky Reader{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Last Log
                </div>
                <div class="card-body">
                    <pre>{{ content }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
