{% extends 'base.html.twig' %}

{% set menuCurrentItem="home" %}

{% block header_title %}{{  parent() }} - Home{% endblock %}

{% block main_title %}HomePage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    My Homepage
                </div>
                <div class="card-body">
                    This is a homepage test
                </div>
                <div class="card-footer">
                    Super Footer
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
